.tile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--color-border-empty);
  animation-duration: var(--flip-duration);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: var(--color-empty);
  color: var(--color-text-pre-guess);
}

.tile.filled {
  border: 2px solid var(--color-border-filled);
}

.tile.filled:not(.absent):not(.present):not(.correct):not(.appear):not(.disappear) {
  animation: throb var(--throb-duration);
}

.tile.absent, .tile.present, .tile.correct {
  color: var(--color-text-post-guess);
  border: none;
}

.tile.absent {
  background: var(--color-absent);
}

.tile.present {
  background: var(--color-present);
}

.tile.correct {
  background: var(--color-correct);
}

.tile.disappear {
  animation-name: disappear;
}
.tile.appear {
  animation-name: appear;
}

.tile.jump {
  animation-name: jump;
  animation-duration: 1s;
}
