
:root {
  --flip-duration: 250ms;
  --flip-transform-appear: rotate3d(1, 0, 0, 90deg);
  --flip-opacity-appear: 1;
  --flip-transform-disappear: rotate3d(1, 0, 0, -90deg);
  --flip-opacity-disappear: 1;
  --throb-duration: 100ms;
  --throb-scale: 1.1;

  --color-background: #121213;
  --color-text: white;
  --color-border-empty: #3a3a3c;
  --color-border-filled: #565758;
  --color-text-pre-guess: white;
  --color-text-post-guess: white;
  --color-empty: #121213;
  --color-absent: #3A3A3C;
  --color-repeated: var(--color-absent);
  --color-present: #B59F3B;
  --color-correct: #538D4E;
  --color-key: #818384;
  --color-key-text: white;
}

.light {
  --color-background: white;
  --color-text: black;
  --color-border-empty: #d3d6da;
  --color-border-filled: #878a8c;
  --color-text-pre-guess: black;
  --color-text-post-guess: white;
  --color-empty: white;
  --color-absent: #787c7e;
  --color-repeated: var(--color-absent);
  --color-present: #c9b458;
  --color-correct: #6aaa64;
  --color-key: #D3D6DA;
  --color-key-text: black;
}

$colors: (
  'green': (#538D4E, #6aaa64),
  'blue': (#78b0e4 #85c0f9),
  'brown': (#8d513e #a86753),
  'orange': (#e67136 #f5793a),
  'purple': (#967bc2 #a486d4),
  'red': (#c05361 #d65e6e),
  'yellow': (#B59F3B #c9b458),
  'black': (black, black),
  'white': (white, white)
);

@each $name, $cs in $colors {
  $dark: nth($cs, 1);
  $light: nth($cs, 2);
  .present-#{$name} {
    --color-present: #{$dark};
  }
  .correct-#{$name} {
    --color-correct: #{$dark};
  }
  .repeated-#{$name} {
    --color-repeated: #{$dark};
  }
  .light.present-#{$name} {
    --color-present: #{$light};
  }
  .light.correct-#{$name} {
    --color-correct: #{$light};
  }
  .light.repeated-#{$name} {
    --color-repeated: #{$dark};
  }
}

$textColors: (
  'white': black,
  'black': white
);

@each $name, $color in $textColors {
  .present-#{$name} {
    .tile.present, .button, .keyboard-button.present {
      color: $color;
    }
  }
  .correct-#{$name} {
    .tile.correct, .button.correct, .keyboard-button.correct, .guess-bar.current {
      color: $color;
    }
  }
  .light.present-#{$name} {
    .tile.present, .button, .keyboard-button.present {
      color: $color;
    }
  }
  .light.correct-#{$name} {
    .tile.correct, .button.correct, .keyboard-button.correct, .guess-bar.current {
      color: $color;
    }
  }
}
.megathrob {
  --throb-duration: 2s;
  --throb-scale: 1.5;
}

.flip-sideways {
  --flip-transform-appear: rotate3d(0, 1, 0, 90deg);
  --flip-transform-disappear: rotate3d(0, 1, 0, -90deg);
}

.flip-diagonal {
  --flip-transform-appear: rotate3d(1, 1, 0, 90deg);
  --flip-transform-disappear: rotate3d(1, 1, 0, -90deg);
}

.flip-rotate {
  --flip-transform-appear: rotate3d(0, 0, 1, 90deg);
  --flip-transform-disappear: rotate3d(0, 0, 1, -90deg);
}

.flip-shrink {
  --flip-transform-appear: scale3d(0, 0, 1);
  --flip-transform-disappear: scale3d(0, 0, 1);
}

.flip-zoom {
  --flip-transform-appear: translateY(400px);
  --flip-transform-disappear: translateY(-400px);
  --flip-opacity-disappear: 0;
  --flip-opacity-appear: 0;
}

.flip-fade {
  --flip-transform-appear: translateY(0);
  --flip-transform-disappear: translateY(0);
  --flip-opacity-disappear: 0;
  --flip-opacity-appear: 0;
}

.flip-warp {
  --flip-transform-appear: scale3d(0, 50, 0);
  --flip-transform-disappear: scale3d(0, 50, 0);
}

.flip-bounce {
  --flip-transform-appear: rotate3d(0, 0, 1, 45deg) scale3d(8, 8, 1) translateY(8px) translateX(40px);
  --flip-transform-disappear: rotate3d(0, 0, 1, 45deg) scale3d(8, 8, 1) translateY(8px) translateX(40px);
}

.flip-crazy {
  --flip-transform-appear: rotate3d(1, 1, 1, 180deg) perspective(0);
  --flip-transform-disappear: rotate3d(1, 1, 1, -180deg) perspective(0);
}
