
@keyframes disappear {
  from {
    transform: rotate3d(0) scale3d(1, 1, 1);
    opacity: 1;
  }

  to {
    transform: var(--flip-transform-disappear);
    opacity: var(--flip-opacity-disappear);
  }
}

@keyframes appear {
  from {
    transform: var(--flip-transform-appear);
    opacity: var(--flip-opacity-appear);
  }

  to {
    transform: rotate3d(0) scale3d(1, 1, 1);
  }
}

@keyframes throb {
  0% {
    transform: scale(1);
  }

  1% {
    transform: scale(var(--throb-scale));
  }

  100% {
    transform: scale(1);
  }
}

@keyframes jump {
  0%, 20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(-15px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}
